.popup {
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
  height: 100vw;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}
.formBody img {
  display: block;
  width: 400px;
  height: 400px;
}
.formBody {
  background-color: white;
  min-width: 800px;
  max-height: 500px;
  padding: 30px;
  position: relative;
}
.close {
  position: absolute;
  color: black;
  padding: 0px;
  width: 35px;
  height: 30px;
  top: 0px;
  left: 824px;
  border: 0px;
  text-decoration: none;
  border-radius: 0px;
  background-color: white;
}
.active {
  background-color: rgba(2, 0, 0, 0.6);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
  visibility: visible;
}
.inactive {
  opacity: 0;
  visibility: hidden;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
